@use '../../styles/vars';

.searchbar {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 3rem 0 2rem 1.5rem;
  &__form {
    width: 70%;
    display: flex;
    &__input {
      width: 100%;
      height: 2.5rem;
      color: vars.$big-stone;
      border: 2px solid vars.$mariner;
      border-radius: 4px;
      background-color: vars.$citrine-white;
      padding: 0 1rem;
    }
    &__input::placeholder {
      color: vars.$big-stone;
    }
    &__button {
      position: relative;
      right: 2rem;
      top: 8px;
      z-index: 0;
      &__ghost {
        cursor: pointer;
        position: absolute;
        height: 37px;
        width: 37px;
        right: 16%;
        top: 18%;
        z-index: 1;
      }
    }
  }
}

@media screen and(max-width: 767px) {
  .searchbar {
    &__form {
      width: 80%;
      &__button {
        &__ghost {
          right: 12%;
        }
      }
    }
  }
}
