@use '../../styles/vars';

.navbar {
  display: flex;
  width: 100%;
  height: 5rem;
  background-color: vars.$mariner;
  color: vars.$golden-grass;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
  &__logo {
    font-family: Stoked;
    width: 40%;
    font-size: 2rem;
  }
  &__items {
    display: flex;
    justify-content: flex-end;
    padding: 0 5rem;
    width: 60%;
    font-size: 1.3rem;
  }
  &__burger {
    display: none;
  }
}

.filter {
  display: none;
}

@media screen and(max-width: 767px) {
  .navbar {
    &__logo {
      width: fit-content;
    }
    &__items {
      display: none;
      &__item {
        margin-bottom: 2rem;
      }
    }
    &__burger {
      display: flex;
      &__button {
        background: none;
        border: none;
      }
      &__sidebar {
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: vars.$mariner;
        font-weight: bold;
        font-size: 24px;
        width: 40%;
        height: 100%;
        top: 5rem;
        right: 0;
        align-items: flex-end;
        padding-right: 2rem;
        transition: all 2s linear;
        z-index: 1;
        &__hidden {
          display: none;
        }
      }
    }
  }
  .filter {
    display: flex;
    width: 70%;
    background-color: #505050;
    opacity: 0.6;
    height: 100%;
    top: 5rem;
    left: 0;
    position: fixed;
  }
}
