@use '../../styles/vars';

.movie-navbar {
  display: flex;
  justify-content: space-between;
  width: 65%;
  flex-wrap: wrap;
  padding-bottom: 1rem;
  border-bottom: 2px solid vars.$mariner;
  &__link {
    color: vars.$mariner;
    padding: 1rem 1rem 0 0;
    &__current {
      color: vars.$big-stone;
      padding: 1rem 1rem 0 0;
    }
  }
}

@media screen and(max-width: 767px) {
  .movie-navbar {
    width: 75%;
  }
}
